.ib-nav-button {
    background-color: #BDD7F9;
    border: none;
    color: black;
    padding: 8px 20px;
    border-radius: 18px;
}

.ib-dropdown-menu {
    width: 100%;
    border: 2px solid #BDD7F9;
    border-radius: 18px;
}