.ib-details-title {
    font-size: 36px;
}

.ib-details-author {
    font-size: 20px;
}

.ib-details-price {
    font-size: 30px;
}

.ib-details-button {
    font-size: 20px;
    background-color: #BDD7F9;
    border: none;
    color: black;
    padding: 8px 20px;
    border-radius: 18px;
}

.ib-details-content {
    font-size: 16px;
    padding-left: 16px;
    width: 75%;

}

.ib-details-card {
    border: 2px solid #BDD7F9;
    border-radius: 18px;
    color: black;
    padding: 20px;

}

.ib-rating-star {
    color: #FFD32D !important;
    font-size: 30px !important;
    margin-right: 6px !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    -webkit-text-stroke: 1px #F78812;
}

.ib-rating-no-star {
    color: gray !important;
    font-size: 30px !important;
    margin-right: 6px !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}



