

.ib-home-header {
    font-size: 40px;
    color: #4A8CE1;
}


.ib-search-btn {
    border: none;
    border-radius: 20px;
    background-color: #4A8CE1;
    color: white;
}

.ib-search-outline {
    border: 3px solid #BDD7F9;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ib-input-field {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding: 12px;
}

.ib-input-field:placeholder-shown {
    margin-left: 12px !important;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}



